div.login-screen div.app-title h1 {
      text-align: center;
}

div.control-group input {
	margin-left: 14px;
	margin-bottom: 10px;
}

blockquote p {
  font-size: 14px !important;
}

li.list-group-item {
  height: 43px;
}

li.list-group-item a {
  float: left;
}

li.list-group-item form input.btn.btn-primary.btn-xs {
  width: 39px;
  float: right;
}

button.btn.btn-primary.btn-md.hist {
    margin-bottom: 10px;
}

.word-hist-title {
    text-align: center;
    font-weight: bold;
}

.small-button {
    margin-left: 5px;
    margin-right: 5px;
}
