textarea {
    resize: none;
}

.inner-container {
    padding-bottom: 30px;
}

.div-submit {
    padding-top: 30px;
}

.result {
    padding-top: 35px;
}

.result .result-line {
}

.result .result-line div#link {
    font-size: 16px;
}

.result .result-line div#info {
    padding-left: 15px;
}

.result .result-line div#info div#raking {
    font-size: 14px;
    float: left;
    width: 85px;
}

.error_msg {
    font-size: 21px;
    text-align: center;
}

div.query {
    height: 34px;
}

.result-info-text {
    text-align: center;
}

.info {
    padding-top: 10px;
}

#complete-query {
    padding-top: 10px;
    padding-bottom: 20px;
}

#whole-doc {
    height: 34px !important;
    margin-top: 40px;
}

.section-query {
    height: 34px !important;
}

div.query label {
    text-align: center;
}

.settings-select {
    display: inline-block;
}

div#query-settings {
    padding-top: 35px;
}

.b-nml {
    width: 135px;
}

#search-div {
    display: none;
}

#settings-pdf {
    width: 696px;
    padding-top: 35px;
    padding-bottom: 65px;
}

div.inner-div {
    padding-left: 20px;
    padding-right: 20px;
}

div.info table.table.table-striped {
    padding-left: 20px;
    padding-right: 20px;
}

.small-distance {
    padding-top: 10px;
}

.dist-right {
    margin-right: 20px;
}

.tab-content {
    padding-top: 70px;
    height: 570px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}