textarea {
    resize: none;
}

.div-submit {
    padding-top: 15px;
}

.result {
    padding-top: 35px;
}

.result .result-line {
}

.result .result-line div#link {
    font-size: 16px;
}

.result .result-line div#info {
    padding-left: 15px;
}

.result .result-line div#info div#raking {
    font-size: 14px;
    float: left;
    width: 60px;
}

.error_msg {
    font-size: 21px;
    text-align: center;
}

div.query {
    height: 57px;
}

.result-info-text {
    text-align: center;
}

.info {
    padding-top: 10px;
}

#complete-query {
    padding-top: 10px;
    padding-bottom: 20px;
}

#whole-doc {
    height: 55px !important;
}

.section-query {
    height: 55px !important;
}

div.query label {
    text-align: center;
}

.settings-select {
    display: inline-block;
    width: 350px;
}

div#query-settings {
    padding-top: 35px;
}

.b-nml {
    width: 135px;
}

#search-div {
    display: none;
}

#settings-pdf {
    width: 542px;
    padding-top: 35px;
    padding-bottom: 65px;
}