{% extends "admin/layout.html" %}

{% block body %}
    <h2> {{ paper.filename }}</h2>

    <table class="table table-bordered">
        <tr>
            <td style="width: 132px;"><b> ID </b></td>
            <td>{{ paper.id }}</td>
        </tr>
        <tr>
            <td style="width: 132px;"><b> Title </b></td>
            <td>{{ paper.title_proceed }}</td>
        </tr>
    </table>

    <h3> Authors </h3>
    {% for val in paper.authors %}
        {% if val.all_authors_text %}
            <blockquote><p>{{ val.all_authors_text }}</p></blockquote>
        {% endif %}
        {% if val.emails_text %}
            <blockquote><p>{{ val.emails_text }}</p></blockquote>
        {% endif %}
        {% if not val.authors %}
            <em>Sorry, no authors table available</em>
        {% else %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 150px;">Firstname</th>
                    <th style="width: 150px;">Middlename</th>
                    <th style="width: 150px;">Lastname</th>
                    <th style="width: 230px;">Email</th>
                    <th>Affiliation</th>
                </tr>
                </thead>
                <tbody>
                {% for author in val.authors %}
                    <tr>
                        <td>{{ author.prename }}</td>
                        {% if not author.middle_name %}
                            <td></td>
                        {% else %}
                            <td>{{ author.middle_name }}</td>
                        {% endif %}
                        <td>{{ author.surname }}</td>
                        <td>{{ author.email }}</td>
                        <td>{{ author.affiliation }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

    <h3> Complete Histogram </h3>
    <button class="btn btn-primary btn-md hist" data-toggle="collapse"
            data-target="#word_hist_complete">Show Histogram
    </button>
    <div id="word_hist_complete" class="collapse">
        <p class="word-hist-title">
            #Elements: {{ paper.word_hist | length }},
            Sum of Elements: {{ paper.word_hist.items() | sum(attribute="1") }}
        </p>
        <table class="table table-striped">
            <tbody>
            {% for keyrow in paper.word_hist.keys() | sort | batch(8) %}
                <tr>
                    {% for key in keyrow %}
                        <td>{{ key }}: {{ paper.word_hist[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3> Sections </h3>
    {% set s1 = [0] %}
    {% for section in paper.sections %}
        {% if s1.append(s1.pop() + 1) %}{% endif %}

        <button class="btn btn-primary btn-md hist" data-toggle="collapse" data-target="#word_hist_{{ s1[0] }}">Show
            Histogram
        </button>

        <div id="word_hist_{{ s1[0] }}" class="collapse">
            <p class="word-hist-title">
                #Elements: {{ section.word_hist | length }},
                Sum of Elements: {{ section.word_hist.items() | sum(attribute="1") }}
            </p>
            <table class="table table-striped">
                <tbody>
                {% for keyrow in section.word_hist.keys() | sort | batch(8) %}
                    <tr>
                        {% for key in keyrow %}
                            <td>{{ key }}: {{ section.word_hist[key] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <table class="table table-bordered">
            <tr>
                <td style="width: 132px;"><b> Section Type </b></td>
                <td>{{ section.section_type.name }}</td>
            </tr>
            <tr>
                <td style="width: 132px;"><b> Heading </b></td>
                <td>{{ section.heading_proceed }}</td>
            </tr>
            <tr>
                <td style="width: 132px;"><b> IMRaD Types </b></td>
                <td>
                    {% for imrad in section.imrad_types %}
                        {{ imrad.name }}
                    {% endfor %}
                </td>
            </tr>
            {% for val in section.text %}
                <tr>
                    <td style="width: 132px;"> {{ val.text_type }} </td>
                    <td> {{ val.text_proceed }} </td>
                </tr>
            {% endfor %}
        </table>

        {% if section.subsections %}
            {% set s2 = [0] %}
            {% for subsec in section.subsections %}
                {% if s2.append(s2.pop() + 1) %}{% endif %}

                <button class="btn btn-primary btn-md hist" data-toggle="collapse"
                        data-target="#word_hist_{{ s1[0] }}_{{ s2[0] }}">Show Histogram
                </button>
                <div id="word_hist_{{ s1[0] }}_{{ s2[0] }}" class="collapse">
                    <p class="word-hist-title">
                        #Elements: {{ subsec.word_hist | length }},
                        Sum of Elements: {{ subsec.word_hist.items() | sum(attribute="1") }}
                    </p>
                    <table class="table table-striped">
                        <tbody>
                        {% for keyrow in subsec.word_hist.keys() | sort | batch(8) %}
                            <tr>
                                {% for key in keyrow %}
                                    <td>{{ key }}: {{ subsec.word_hist[key] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <table class="table table-bordered">
                    <tr>
                        <td style="width: 132px;"><b> Section Type </b></td>
                        <td>{{ subsec.section_type.name }}</td>
                    </tr>
                    <tr>
                        <td style="width: 132px;"><b> Heading </b></td>
                        <td>{{ subsec.heading_proceed }}</td>
                    </tr>
                    {% for val in subsec.text %}
                        <tr>
                            <td style="width: 132px;"> {{ val.text_type.name }} </td>
                            <td> {{ val.text_proceed }} </td>
                        </tr>
                    {% endfor %}
                </table>

                {% if subsec.subsections %}
                    {% set s3 = [0] %}
                    {% for subsubsec in subsec.subsections %}
                        {% if s3.append(s3.pop() + 1) %}{% endif %}

                        <button class="btn btn-primary btn-md hist" data-toggle="collapse"
                                data-target="#word_hist_{{ s1[0] }}_{{ s2[0] }}_{{ s3[0] }}">Show Histogram
                        </button>
                        <div id="word_hist_{{ s1[0] }}_{{ s2[0] }}_{{ s3[0] }}" class="collapse">
                            <p class="word-hist-title">
                                #Elements: {{ subsubsec.word_hist | length }},
                                Sum of Elements: {{ subsubsec.word_hist.items() | sum(attribute="1") }}
                            </p>
                            <table class="table table-striped">
                                <tbody>
                                {% for keyrow in subsubsec.word_hist.keys() | sort | batch(8) %}
                                    <tr>
                                        {% for key in keyrow %}
                                            <td>{{ key }}: {{ subsubsec.word_hist[key] }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <table class="table table-bordered">
                            <tr>
                                <td style="width: 132px;"><b> Section Type </b></td>
                                <td>{{ subsubsec.section_type.name }}</td>
                            </tr>
                            <tr>
                                <td style="width: 132px;"><b> Heading </b></td>
                                <td>{{ subsubsec.heading_proceed }}</td>
                            </tr>
                            {% for val in subsubsec.text %}
                                <tr>
                                    <td style="width: 132px;"> {{ val.text_type.name }} </td>
                                    <td> {{ val.text_proceed }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <h3> References </h3>
    {% if not paper.references %}
        <em>Sorry, no reference table available</em>
    {% else %}
        {% for ref in paper.references %}
            <table class="table table-bordered">
                {% if ref.paper_id != '' %}
                    <tr>
                        <td style="width: 132px;"></td>
                        <td>
                            <form action="/admin/paper_info/{{ ref.paper_id }}" method="get" target="_blank">
                                <input type="submit" value="Open referred Paper" class="btn btn-primary btn-xs">
                            </form>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td style="width: 132px;"><b> Complete </b></td>
                    <td>{{ ref.complete_ref_raw }}</td>
                </tr>
                {% if ref.title != '' %}
                    <tr>
                        <td style="width: 132px;"><b> Title </b></td>
                        <td>{{ ref.title }}</td>
                    </tr>
                {% endif %}
                {% for author in ref.authors %}
                    <tr>
                        <td style="width: 132px;">{{ author[0].name }}</td>
                        <td>{{ author[1].prename + " " + author[1].surname }}</td>
                    </tr>
                {% endfor %}
                {% for info in ref.reference_info %}
                    <tr>
                        <td style="width: 132px;">{{ info[0].name }}</td>
                        <td>{{ info[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}

    <script type=text/javascript>
        $("#navbar2").addClass('active').siblings().removeClass('active');
    </script>
{% endblock %}
